################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages/AutoMapper.8.1.1
/.vs
/Deliverables/Bin
/MyStore.Database/obj
/MyStore.Repository.Interface/obj
/MyStoreApp/bin
/MyStoreApp/obj/Debug
/MyStoreApp.Repository/obj
/packages
/MyStoreApp/MyStoreApp.csproj.user
/MyStore.MongoDB/bin/Debug
/MyStore.MongoDB/obj/Debug
/MyStore.Mongo.Repository/obj/Debug
/MyStore.Mongo.Repository/bin/Debug
